@model IEnumerable<Todolist.Models.Todo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TodoThemes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) 
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Label)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
             <td>
                    @if (item.TodoThemes.Any())
                    {
                        foreach (var todoTheme in item.TodoThemes)
                        {
                            if(todoTheme.Theme != null)
                            {
                                <p>@todoTheme.Theme.Name</p>
                            }
                        }
                    }
                    else
                    {
                        <span>Aucun thème associé</span>
                    }
             </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TodoId">Éditer</a> |
                <a asp-action="Details" asp-route-id="@item.TodoId">Détails</a> |
                <a asp-action="Delete" asp-route-id="@item.TodoId">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
