@model IEnumerable<Todolist.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Créer</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Label)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Label)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoryId">Éditer</a> |
                <a asp-action="Details" asp-route-id="@item.CategoryId">Détails</a> |
                <a asp-action="Delete" asp-route-id="@item.CategoryId">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
